


<form [formGroup]="searchForm">
  <div class="search">
    <div><h3>SearchGit</h3>
    <p>Search by user or repository, language is an optional filter</p></div>
    <label>
        <input #name placeholder="Users"formControlName="name"  >
        <input #repo placeholder="Repositories"formControlName="repo">
        <input #language placeholder="Language"formControlName="language">       
    </label>
    <div class="searchButton" >
        <button class="roundButton" [disabled]="!searchForm.valid" (click)="search(name.value, repo.value, language.value)">Search</button>
    </div>
  </div>
  
  

</form>
<div class="wrapper">
 

  <p style="color:red; font-family: sans-serif;" *ngIf="error" >{{ error }}</p>

  <div *ngIf="data" class="userInfo"  >
    
      <div class="profilePic">
        <img class="profileImage" src="{{data.avatar_url}}" height="100" width="100">
      </div>
   
      <div class="profileInfo">
        <h1>{{data.name}}</h1>
      
        <a href="{{data.html_url}}">Profile</a>
      
      
        <p *ngIf="data.location">Location: {{data.location}}</p>
      
        <p *ngIf="data.company" >Works at {{data.company}}</p>  
      </div>   
     
  </div>
    

  <div class="flex-container">
  
  <div *ngIf="users" class="users">
    <h2>Users</h2>
    <ul >
        <li *ngFor="let user of users" class="userList">
           <button class="userButton" (click)="selectUser(user.login, language.value)">{{user.login}}</button>
        </li>
      </ul> 
  </div>

 


  <div *ngIf="repos" class="repos">
    <h2>Repositories</h2>
    <ul class="repoList">
      <li *ngFor="let repo of repos" class="repoListItem">
        <a href={{repo.html_url}}><h3>{{repo.name}}</h3></a>
        <h4>Description:</h4><p> {{repo.description}}</p>
        <p>Language: {{repo.language}}</p>
        <p>Clone url: <input type="text" value="{{repo.clone_url}}" readonly> </p>
      </li>
    </ul>     
  </div>
    
  


  </div>
</div>



