


<form [formGroup]="searchForm">
  <div>
    <label>Search:
        <input #name placeholder="Users"formControlName="name"  >
        <input #repo placeholder="Repositories"formControlName="repo">
        <input #language placeholder="Language"formControlName="language">       
    </label>
  </div>
  

</form>
<button [disabled]="!searchForm.valid" (click)="search(name.value, repo.value, language.value)">Search</button>
<p>Form value: {{ searchForm.value | json }}</p>
<p>Form status: {{ searchForm.status | json }}</p>

<p style="color:red;" *ngIf="error">{{ error }}</p>
<div>
  
  <div *ngIf="users">
    <h2>Users:</h2>
    <ul>
        <li *ngFor="let user of users">
           <button (click)="selectUser(user.login, language.value)">{{user.login}}</button>
        </li>
      </ul> 
  </div>

  <div *ngIf="data">
    <div>
      <img src="{{data.avatar_url}}" width="100" height="100">
    </div>
    <div>
      <h1>{{data.name}}</h1>
    </div>
    <div>
      <a href="{{data.html_url}}">Profile</a>
    </div>
    <div *ngIf="data.location">
      <p>Location: {{data.location}}</p>
    </div>
    <div *ngIf="data.company">
      <p>Works at {{data.company}}</p>    
    </div>   
  </div>
    


  <div *ngIf="repos">
      <h2>Repositories</h2>
      <ul>
        <li *ngFor="let repo of repos">
           <a href={{repo.html_url}}>{{repo.name}}</a>
           <p>{{repo.description}}</p>
           <p>Language: {{repo.language}}</p>
           <p>Clone url: <input type="text" value="{{repo.clone_url}}" readonly> </p>
        </li>
      </ul>   
    </div>



  


</div>



